<div class="container py-5 bg-light">
    <h1 class="display-4">Typescript app</h1>
    
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima aperiam ullam libero quae dolorem molestias!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, ex.</p>
    <a href="#" class="btn btn-primary btn-lg">
        task list
    </a>
</div>
