<div class="container py-5 bg-light text-center">
    <h1 class="display-4">Typescript App</h1>
    <p class="lead">API</p>
    <a href="#" class="btn btn-primary btn-lg">Prueba de ingreso a la comunidad! BIENVENIDO!</a>
</div>

