<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>CRUD API</title>
    <!--bootstrap 5-->
    <link rel="stylesheet" href="https://bootswatch.com/5/cosmo/bootstrap.min.css">
     <!--custom css -->
     <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    {{> navigation}}  <!-- Aquí se incluye el parcial -->
    <div class="container p-5">
        {{{ body }}} 
    </div>
</body>
</html>
